<mat-spinner *ngIf="loading"></mat-spinner>
<ng-container *ngIf="!loading">
  <select id="graphSelect" [(ngModel)]="selectedChart">
    <option *ngFor="let chart of charts" [ngValue]="chart"> {{ chart.title }} </option>
  </select>

  <br>
  <ng-container *ngIf="selectedChart as chart">
    {{selectedChart.title}}
    <ng-container *ngIf="selectedChart.data$ | async as data">
      <google-chart
        [type]="chart.type"
        [columnNames]="chart.columns"
        [data]="data"
        [options]="chart.options"
        (select)="chart.selectMethod($event)"
        [height]="800"
        [width]="1300">
      </google-chart>
    </ng-container>
  </ng-container>

  <br>
</ng-container>

<div>
  {{ JSON.stringify(selectedChart.data$.value) }}
</div>
