<mat-spinner *ngIf="loading"></mat-spinner>
<ng-container *ngIf="!loading">
  <select id="graphSelect" [(ngModel)]="selectedChart$">
    <option *ngFor="let chart of charts" [ngValue]="chart"> {{ chart.value.title }} </option>
  </select>

  <br>
  <ng-container *ngIf="selectedChart$ | async as chart">
    {{chart.title}}
    <google-chart
      [type]="chart.type"
      [columnNames]="chart.columns"
      [data]="chart.data"
      [options]="chart.options"
      (select)="chart.selectMethod($event)"
      [height]="800"
      [width]="1300">
    </google-chart>
    <div>
      {{ JSON.stringify(chart.data) }}
    </div>
  </ng-container>

  <br>
</ng-container>
